img{
   
    float: center;
}
.a{
    text-align: center;
    font-size: large;
}

.b {
    display: flex;
    flex-wrap: wrap;
    padding:50px;
    justify-content: center;

} 

.b .l1{
    position: absolute;
    top: 100px;
    width: 500px;
}
.b .l3{
    position: absolute;
    top: 170px;
    width: 650px ;
    
}

.b .l5{
    position: absolute;
    top: 250px;
    width: 650px ;
    
}

.b .l7{
    position: absolute;
    top: 330px;
    width: 650px ;
    
}

.b .l9{
    position: absolute;
    top: 400px;
    width: 450px ;
    
}

.b .l2{
    position: absolute;
    top: 100px;
   right: 450px;
    
}

.b .l4{
    position: absolute;
    top: 170px;
    right: 420px ;
    
}

.b .l6{
    position: absolute;
    top: 250px;
    right: 350px ;
    
}

.b .l8{
    position: absolute;
    top: 330px;
    right: 420px ;
    
}

.b .l10{
    position: absolute;
    top: 400px;
    right: 520px ;
    
}

.search {
    position:absolute;
    left: 650px;
    bottom: 200px;
    
}

button{
    background-color:lightskyblue;
}

.ref{
    height: 500px;
    width: 500px;
}
.ref .f{
    
    text-align: center;
    border: 5px solid blue;
    position: absolute;
    left: 600px;
    bottom: 100px; 
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}